.main-container {
  width: 100%;
  padding: 20px 0;
  position: relative;
  background: transparent;
}

.background-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: 90%;
}

.mobile-container {
  display: none; }

.box-left {
  width: 180px;
  float: left; }

.box-1 {
  width: 100%;
  float: left;
  padding: 80px 0 0 0; }

.box-2 {
  width: 120px;
  float: left;
  padding: 250px 0 0 0px;
  text-align: center; }

.box-2 .button {
  margin-top: 10px; }

.box-3 {
  width: 395px;
  float: left;
  background: #f1f1f2;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0px 10px 25px;
  margin: 65px 0 0 15px;
  text-align: center; }

.box-3-image {
  width: 80px;
  float: left; }

.box-3-image2 {
  width: 80px;
  float: right; }

.box-3-center {
  width: 212px;
  float: left;
  margin: 0 auto;
  min-height: 65px;
  display: block;
  position: relative;
   }

.box-3-center .button {
  display: inline-block;
  float: none;
  margin: 5px 0;
   }
  .box-3-center .buttons{
    display: inline-block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -75%);
    width: 100%
  }

.box-4 {
  width: 120px;
  float: right;
  position: absolute;
  right: 0;
  margin: 0 170px 0 0;
   }

.box-8 {
  width: 100%;
  float: left;
  padding: 10px 0 0 0; }

.box-image {
  width: 100%;
  float: left;
  text-align: center; }

.box-caption {
  width: 100%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  clear: both;
  padding: 10px 0 0 0; }

.arrow-1 {
  width: 100%;
  height: 101px;
  float: left;
  clear: both;
  background: url(../images/arrow-1.svg) no-repeat 90px top;
  position: relative;
  text-align: center; }

.arrow-1 .button,
.arrow-2 .button {
  margin-top: 30px; }

.arrow-2 {
  width: 100%;
  height: 102px;
  float: left;
  clear: both;
  background: url(../images/arrow-2.svg) no-repeat 90px top;
  margin-top: 10px;
  position: relative;
  text-align: center; }

.button {
  background: #6fccdc;
  color: #fff;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
  .button.dark-blue {
    background: #0f75bd; }
    .button.dark-blue:hover {
      background: #000; }
  .button.yellow {
    background: #fbbc1c; }
    .button.yellow:hover {
      background: #000; }
  .button:hover {
    background: #000; }

.button-box {
  width: 100%;
  float: left;
  padding-top: 10px; }
  .button-box .button {
    clear: both;
    width: 100%;
    margin-bottom: 5px; }

.middle-arrow {
  width: 136px;
  float: left;
  padding: 130px 0 0 0; }

.arrow-3 {
  width: 100%;
  height: 151px;
  float: left;
  clear: both;
  background: url(../images/arrow-3.png) no-repeat left top;
  margin-top: 10px;
  position: relative;
  text-align: center; }

.arrow-4 {
  width: 100%;
  height: 151px;
  float: left;
  clear: both;
  background: url(../images/arrow-4.png) no-repeat left top;
  margin-top: 10px;
  position: relative;
  text-align: center; }

.arrow-5 {
  width: 47px;
  height: 8px;
  float: left;
  background: url(../images/arrow-5.svg) no-repeat left top;
  margin-top: 10px;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0%, -50%); }

.arrow-6 {
  width: 47px;
  height: 8px;
  float: right;
  background: url(../images/arrow-6.svg) no-repeat right top;
  margin-top: 10px;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translate(0%, -50%); }

.arrow-7 {
  width: 118px;
  height: 220px;
  float: right;
  background: url(../images/arrow-7.png) no-repeat left top;
  position: relative;
  margin: 200px 180px 0 0; }

.arrow-8 {
  width: 95px;
  height: 8px;
  float: left;
  background: url(../images/arrow-5.svg) no-repeat left top;
  position: relative;
  margin: 30px -30px 0 0; }

.arrow-9 {
  width: 95px;
  height: 8px;
  float: left;
  background: url(../images/arrow-5.svg) no-repeat left top;
  position: relative;
  margin: 30px 0 0 -30px; }

.box-bottom {
  width: 540px;
  float: right;
  margin: 5px 180px 0 0; }

.box-5 {
  width: 120px;
  float: right;
  text-align: center; }

.box-6 {
  width: 170px;
  float: left;
  text-align: center; }

.box-7 {
  width: 120px;
  float: left;
  text-align: center; }

  .arrow-1 .button{
    margin: 5px 0;
  }

  .option-buttons{
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -75%);
    width: 100%
  }

  .arrow-2 .btn-process{
    margin: 5px 0;
  }
  .box-2 .btn-process{
    margin: 5px 0;
  }

@media only screen and (max-width: 1173px) {
  .box-4{
    margin: 0 0 0 0;
    right: 10%;
  }
  .arrow-7{
    margin: 200px 13% 0 0;
    position: absolute;
    right: 0;
    
  }
  .box-bottom{
    margin: 205px 1% 0 0;
    float: left;
  }
}


@media only screen and (max-width: 1135px) {
  .arrow-7{
    margin: 200px 12% 0 0;
  }
}

@media only screen and (max-width: 1130px) {
  .arrow-7{
    margin: 200px 11% 0 0;
  }
}

@media only screen and (max-width: 1114px) {
  .box-4{
    margin: 0 0 0 0;
    right: 1%;
  }
  .arrow-7{
    margin: 200px 2% 0 0;
  }
}


@media only screen and (max-width: 1023px) {
  
  .mobile-container {
    display: block;
    width: 100%;
    float: left;
    padding: 25px 0 20px; }
  .dektop-container {
    display: none; }
  .mobile-box {
    width: 100%;
    float: left;
    text-align: center;
    display: block;
    padding: 15px 0 0; }
    .mobile-box .button {
      margin-top: 5px;
      min-width: 150px; }
    .mobile-box .button-box {
      max-width: 150px;
      margin: 0px auto 0;
      float: none;
      display: inline-block; }
      .mobile-box .button-box .button {
        clear: both;
        width: 100%;
        margin-bottom: 5px;
        display: block; }
  .down-arrow {
    width: 100%;
    float: left;
    background: url(../images/down-arrow.svg) no-repeat center top;
    height: 23px;
    margin: 5px 0; } }
