.page-content div, .page-content p, .page-content hr  {
	width: 100%;
}

div .with-arrow {
	font-weight: bold;
}
div .with-arrow span {
	font-size: 2rem;
}
div .with-arrow .button {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.6rem;
	border-radius: 10px;
	margin-bottom: 0.1rem;
}
div .with-arrow .button.process {
	background-color: #6fccdc;
}
div .with-arrow .button.sop {
	background-color: #0f74bc;
}
div .with-arrow .button.products {
	background-color: #f3b61b;
}
/* Used for home page medium */
.column.with-arrow.inline div {
	display: inline-block;
	width: 40%;
}
.page-title .page-navigation{
	text-align: right;
}
.page-title .page-navigation .button {
	border-radius: 1.25rem;
	margin-left: 0.125rem;
	margin-right: 0.125rem;
}

.oem-repair .inner-block{
	width:85%;
	margin: auto
}
.oem-repair h1{
	font-size: 4rem
}
.oem-repair p{
	margin-top: 0.9375rem;
}
.oem-repair .no-bullet span{
	min-width: 7.5rem;
	display: inline-block
}
.oem-repair .no-bullet{
	margin-top: 1.5625rem;
}
.oem-repair .no-bullet li{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.oem-repair .block{
	border: 1px solid #000;
	min-height: 12.5rem;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.3125rem;
}
.oem-repair .block p{
	margin-top: 0;
}
.oem-description {
	position: relative;
	border-bottom: 1px solid #000;
}
.oem-description .page{
	position: absolute;
	bottom: 1rem;
	right: 0
}
.border{
	border: 1px solid #000;
}
.sop-header {
	background: #D9D9D9;
	border: 1px solid #000;
	margin-bottom: 1.25rem;
}
.sop-header h3{
	color: #fff;
	background: #000;
	padding: 0.625rem;
}
.sop-header .body{
	padding: 0.625rem;
}
.sop-header .safety{
	border-radius: 50%;
	border: 1px solid #000;
	padding: 0.9375rem 0.625rem 1.5625rem 0.625rem;
	width: 9rem
}
.sop-header .no-bullet li,
.sop-header .safety{
	font-size: 0.9rem
}
.sop-header .no-bullet li span{
	display: inline-block;
	min-width: 7.5rem;
}
.sop-body .border{

}
.sop-body .border p{
	padding: 0.1875rem 0.3125rem;
	margin-bottom: 0
}
.sop-body .step{
	margin-top: 0.9375rem;
	margin-bottom: 0.9375rem;
	margin-right: 0;
	padding-left: 0.5rem;
}
.sop-body .step .border ul{
	display: table-cell;
	list-style-position: outside;
	padding-left: 0.9375rem
}
.sop-body .step .border img{
	display: inline-block;
	width: 4rem;
	float: left;
	padding-right: 0.5rem;
}
.spray-gun .sop-body .step .border img,
.respirator-fit-testing .sop-body .step .border img{
	width: auto
}
.spray-gun .sop-body .step .border img.info,
.respirator-fit-testing .sop-body .step .border img.info{
	width: 4rem;
}
.sop-body .step .border .hardener{
	width: auto
}
.sop-body .step .border .qr img{
	padding-right: 0;
	float: right;
	display: inline-block
}
.sop-body .step .border .qr .qr-info{
	float: left
}
.sop-body .additional{
	background: #ccc;
	border : 1px solid #000;
	padding: 0.3125rem;
}
.sop-body .qr{
	padding: 0.625rem 0
}
.sop-body .tech-support-footer{
	padding-bottom: 0.3125rem;
	padding-top: 0.3125rem
}
.sop-body .yellow{
	background: #FFF600
}
.msds span {
	font-size: 1.6rem;
	font-weight: bold;
}
.msds span a {
	text-decoration: underline
}
.tech-support .item{
	margin-top: 1.5625rem;
	margin-bottom: 1.5625rem;
}
.approved-products h5{
	color: #ff0000
}
.approved-products table.dataTable tbody th, table.dataTable tbody tr{
	border-bottom: 1px solid #000
}
.approved-products table.dataTable tbody th, table.dataTable tbody td{
	line-height: 1rem
}
.approved-products .change-request-form .form{
	margin-top: 0.9375rem;
	margin-bottom: 0.9375rem;
}
.sata-3-stage-filter-maintenance h3{
	margin-bottom: 0
}
.sata-3-stage-filter-maintenance .box{
	padding: 0.625rem;
	font-size: 0.9rem;
	border: 2px solid #000;
	width: 75%;
	margin: 0.625rem auto
}
.sata-3-stage-filter-maintenance-step span{
	font-size: 1.1rem
}
.sata-3-stage-filter-maintenance .sop-body .info{
	width: 50%;
	margin: 0.625rem auto
}
.spray-gun .border{
	min-height: 4.1875rem
}
.border.qr .float-right{
	margin-bottom: 0.9375rem;
}
.reassembly-steps{
	border-top: 2px solid #000
}
.delivery-steps li{
	font-weight: bold;
	margin-top: 0.9375rem;
	margin-bottom: 0.9375rem;
}
.delivery-steps li > ol > li{
	font-weight: normal
}
.sop-body .step .border .cars img{
	width: auto;
	display: block;
	float: right
}
.no-step{
	margin-left: 0.9375rem
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	.oem-description .page{
		position: static
	}
	.page-title .page-navigation{
		text-align: left;
	}
	.page-title .page-navigation .button {
		border-radius: 1rem;
	}
	.menu > li, .menu.horizontal > li{
		display: block;
	}
	.sop-body .step .border .qr img{
		float: none;
		display: block;
	}
	.sop-body .step .border .qr .qr-info{
		float: none
	}
	.sop-body .step{
		margin-right: -0.625rem
	}
	.no-step{
		margin-left: 0
	}
	.sata-3-stage-filter-maintenance .sop-body .info{
		width: 100%
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.sop-body .step{
		margin-right: -0.9375rem
	}
	.no-step{
		margin-left: 0
	}
	.sata-3-stage-filter-maintenance .sop-body .info{
		width: 50%
	}
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

