body.login-page {
    background-image: url("/assets/img/kube-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
}
.login-page header {
    border-bottom-color: #FFF;
}
footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 2px solid #000;
}
.login-page footer {
    border-top-color: #FFF;
}
.bpadding {
    padding-bottom: 2rem;
}
#main_content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.login-page {
    color: #FFF;
}
.log-in-form {
    color: #000;
    padding: 1rem;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 6rem;
    margin-bottom: 8rem;
}
.log-in-form a {
    color: #000;
}
.log-in-form .button {
    color: #FFF;
}
[class^="fi-"]{
    margin-left: 5px;
    margin-right: 5px;
}
.modal-header {
    background-color: #1779ba;
    padding: 0.5rem;
    color: #FFF;
}
.modal-header .close-button {
    color: #FFF;
}
.modal-body {
    padding: 1rem;
}

.clickable tbody tr {
    cursor: pointer;
}
.clickable tbody tr:hover {
    background-color: #F0F0F0;
}
.menu {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.menu li {
    display: inline-block;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
.menu li a {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.menu a:hover {
    color: #000000;
}
#content, #page_content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.txt-red {
    color: red;
}
/** custom datatable footer pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
    text-align: left
}
.admin-content{
    min-height: 300px;
}

/** select2 custom */
.select2-container .select2-selection--single{
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 35px;
}
.btn-show{
    width: 100%;
}
.btn-action {
    margin-left: 3px;
    margin-right: 3px;
}
input.validation-error, select.validation-error{
    margin-bottom: 0
}
small.error{
    display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -1px;
    padding: 0.33333rem 0.5rem;
    background: #f04124;
    color: #FFFFFF;
}
label.error {
    color: #f04124
}
.dataTable td .button {
    margin-bottom: 0
}
.company-select{
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}
.list-unstyled {
    list-style: none;
    margin: 0;
}
.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #f2f2f2;
    color: #333333;
}
.panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #ecfaff;
    color: #333333;
}
.heading-content {
    margin-top: 0.625rem;
    margin-bottom: 1.625rem;
}
.sortable-connect {
    margin-bottom: 0.625rem
}
.sortable-connect li{
    padding: 0.5rem 0.625rem;
    border: 1px solid #d8d8d8;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.sortable-connect li:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.sortable-connect .child{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #888;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.sortable-connect li a{
    margin-bottom: 0;
    padding: 0.425rem 1em;
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
}
.sortable-unused li{
    background: #bbb
}
.sortable-active li{
    background: #b2dae8
}

.sortable-connect li.heading-placeholder {
    height: 2.9125rem;
    display: block;
    padding: 0.7rem 0.625rem;
    border: 1px dotted #888;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
    line-height: 1.6;
    background: transparent;
}
#cancel_order{
    vertical-align: top
}
.heading-notif {
    height: 2.375rem
}
.alert-box{
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.72222rem;
    font-weight: normal;
    margin-bottom: 0.1875rem;
    padding: 0.4rem 1.33333rem 0.4rem 0.77778rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF;
}
.alert-box.success{
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #FFFFFF;
}
.alert-box .close {
    right: 0.22222rem;
    background: inherit;
    color: #333333;
    font-size: 1.22222rem;
    line-height: .9;
    margin-top: -0.61111rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(81,81,81, 0.2);
    border-right: 1.1em solid rgba(81,81,81, 0.2);
    border-bottom: 1.1em solid rgba(81,81,81, 0.2);
    border-left: 1.1em solid #515151;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.procedure-orderable,
.process-orderable{
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}
.jqte{
    margin: 1rem 0;
    border: 1px solid #cacaca;
    box-shadow: none
}
.jqte_tool.jqte_tool_1 .jqte_tool_label{
    height: auto;
}
.jqte_focused{
    box-shadow: 0 0 5px #cacaca
}
.sortable-active li h6{
    margin-bottom: 0
}
.easy-autocomplete{
    width: auto !important;
}
.easy-autocomplete input{
    border-radius: 0;
    padding: 0.5rem;
}
.easy-autocomplete-container ul{
    margin: 0;
    top: -15px;
}
.btn-skus{
    margin-bottom: 0
}
.panel h6 .small{
    color: #888;
}
.title-module{
    border-bottom: 1px solid #888;
    margin-bottom: 1.5625rem;
}
.content-label {
    height: 2.4375rem
}
.content-label a{
    display: block;
    font-size: 1rem
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
    overflow-y: hidden
}
.slideout-main-menu {
    background: #2c3e50;
    padding-top: 1.5625rem;
}
.menu-small{
    background: #2c3e50;
    width: 2.6875rem;
    height: 2.6875rem;
    position: fixed;
    top: 0.625rem;
    left: 0.625rem;
    padding: 0.1875rem;
    cursor: pointer;
}
.menu-small .menu-bar{
    display: block;
    background: #ecf0f1;
    height: 0.1875rem;
    width: 2.0625rem;
    margin: 0.4375rem 0.125rem;
}
.slideout-main-menu ul > li > a{
    padding: 0.3125rem 0.9375rem;
    display: block;
    color: #ecf0f1;
}
.slideout-main-menu ul > li > a:hover{
    background: #34495e;
    color: #7f8c8d;
}

.slideout-main-menu h4,
.slideout-main-menu h5{
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 0.9375rem;
    color: #bdc3c7;
    font-size: 1.375rem
}
.slideout-main-menu h5{
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px
}
.label{
    display: inline-block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: 1;
    margin-bottom: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.22222rem 0.44444rem 0.22222rem;
    font-size: 0.61111rem;
    background-color: #008CBA;
    color: #FFFFFF;
}
.label.radius{
    border-radius: 3px;
}
.label.secondary{
    background-color: #e7e7e7;
    color: #333333;
}
.label.warning{
    background-color: #f08a24;
    color: #333333;
}
.label.info{
    background-color: #a0d3e8;
    color: #333333;
}
.label.alert{
    background-color: #f04124;
    color: #333;
}
.button.info{

}
.company-select select{
    margin-bottom: 0
}
.odd {
    background-color: #F0F0F0;
}
.even {
    background-color: #FFF;
}
.modal-body .callout {
    padding: 0.25rem;
}
.btn-process {
    background-color: #6FC0DC;
}
.btn-sop {
    background-color: #0F75BD;
}
.btn-product {
    background-color: #FBBC1C;
}
.btn-msds {
    background-color: #FF0000;
}
.btn-msds:hover,
.btn-msds:active,
.btn-msds:focus {
    background-color: #c40000;
}
.btn-support {
    background-color: #FF0000;
}
.btn-support:hover,
.btn-support:active,
.btn-support:focus {
    background-color: #c40000;
}
.btn-greyed {
    opacity: 0.5;
}
.product-list {
    font-size: 0.9rem;
}
.accordion-title-direction {
    display: inline-block;
    float: right;
    margin-right: 1.5625rem;
}
.accordion-title-direction span{
    margin-left: 5px;
    margin-right: 5px;
}
.accordion-title-direction span:hover{
    color: #032c48;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.product-update .ajax-upload-dragdrop{
    border: none;
    box-shadow: none;
    padding: 0;
}
.product-update .ajax-file-upload {
    font-size: 0.6rem;
    background-color: #1779ba;
    border-radius: 0px;
    line-height: 1;
    height : auto;
    padding: 0.85em 1em;
    margin: 0;
}
.product-update .ajax-file-upload:hover,
.product-update .ajax-file-upload:focus {
    background-color: #14679e
}
.product-update span{
    display: none
}
.product-list .ajax-file-upload-statusbar{
    display: none
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    margin: 0;
}
.reveal.tiny.super-tiny{
    overflow: hidden;
    background: rgba(0,0,0,0);
    border: none;
    width: auto;
}
.reveal.tiny.super-tiny .fi-refresh {
    font-size: 3rem;
    color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0 !important;
}
.sop-menu{
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.sop-menu .cell{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

ol.sop-menu {
    line-height: 3rem;
    display: block;
    list-style-position: inside;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    ol.sop-menu {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; 
    }
}
@media screen and (min-width: 64em) {
    ol.sop-menu {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3; 
    }
}
.page-content-inner{
    border-top: 1px solid #cacaca;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}
.image_picker_image{

}
.thumbnail{
    border: none;
    box-shadow: none
}
.thumbnail .item{
    display: inline-block;
    position: relative;
    border: 2px solid #dddddd;
    margin: 5px;
    padding: 5px;
}
.delete-thumbnail{
    position: absolute;
    right: 7px;
    bottom: 7px;
    margin: 0
}
.thumbnail .item img{
    width: 150px;
    height: 150px;
}
.thumbnail .item button{
    margin-bottom: 0
}
.thumbnail .selected{
    border: 2px solid #0088cc
}
.sops-btn{
    margin-top: 0.625rem
}
.msds .button {
    width: 80%;
}
.button.tiny.edit-msds {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
@media only screen and (max-width: 1023px) {
    .menu li{
        display: block;
        width: 100%
    }
    .menu li a{
        padding-top: 0.325em;
        padding-bottom: 0.325em
    }
}
